force-app/main/default/flows/Test_Error_Flow_for_Debugger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Test flow that intentionally causes errors for testing Flow AI Debugger. Trigger by editing any Account and setting Description to contain TRIGGER_ERROR.</description>
    <interviewLabel>Test Error Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Error Flow for Debugger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Invalid_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TRIGGER_ERROR</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>

    <!-- Step 1: Try to create an Opportunity WITHOUT required fields → DML error -->
    <recordCreates>
        <name>Create_Invalid_Opportunity</name>
        <label>Create Invalid Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <faultConnector>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test Opp - Missing Required Fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>

    <!-- Step 2: Fault path — log the error to Flow_Error_Log__c -->
    <recordCreates>
        <name>Log_Flow_Error</name>
        <label>Log Flow Error</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Flow_API_Name__c</field>
            <value>
                <stringValue>Test_Error_Flow_for_Debugger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Label__c</field>
            <value>
                <stringValue>Test Error Flow for Debugger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Element_API_Name__c</field>
            <value>
                <stringValue>Create_Invalid_Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <stringValue>FLOW_ELEMENT_ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Analysis_Complete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Flow_Error_Log__c</object>
    </recordCreates>
</Flow>
